.cartPage{
    background-color: #fff;
    font-size: 16px;
}

.pageWrapper{
    display: flex;
    width: 95%;
    margin: auto;
    background-color: white;
    margin-top: 80px;
    color:black;
}

.pageLeftside{
    border: 1px solid black;
    width: 70%;
}

.orderHeading{
    display: flex;
    justify-content: space-between;
    color: #444;
    font-size: 0.875em;
    border: 1px solid orange;
    background-color: #f7f7f7;
}

.orderHeading p{
    padding: 10px 12px;
}

.itemHeading{
    border: 1px solid blueviolet;
    width: 40%;
    font-size: 1rem;
}

.quantityHeading{
    border: 1px solid green;
    width: 25%;
}

.priceHeading{
    border: 1px solid black;
    width: 35%;
}

.pageRightside{
    border:1px solid maroon;
    width:30%;
}

.pageRightside .textSymbolWrapper{
display: flex;
margin: auto;
justify-content: space-between;
align-items: center;
background-color: #4D4D4D;
color: white;
padding: 0 14px;
height: 44px;
box-sizing: border-box;
/* font-family: Open Sans Semibold; */
font-size: 16px;
border-bottom: 1px solid #e8e8e8;
font-weight: 600;
}

.textSymbolWrapper>div:nth-child(2){
    font-size: 28px;
}


.cartTotalQuantity{
    border:1px solid black;
    color: black;
    text-align: left;
    padding: 4px;
}

.productCardWrapper{
    overflow-y: scroll;
    height: 90vh;
}


.pageRightside .shippingText{
    color: #444;
    font-size: 14px;
    text-align: left;
    display: flex;
    align-items: center;
}


.pageRightside .offerText{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFAEF;
    box-sizing: border-box;
    border:1px dashed black;
    margin: 8px 16px;
    padding: 8px 44px 8px 8px;
    text-align: left;
    color: #444;
    font-size: 14px;
}